/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-height: 900px;
  }                
  
  body {
    background-color: rgb(0,0,0);
    color: rgb(27, 54, 5);
    font-family: helvetica, arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 12pt;
  }
  
  header {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  h1 {
    font-size: 100px;
    font-family: 'FRIESKA', sans-serif;
    margin: 0;
    height: 90px;
  }
  
  h2 {
    font-size: 75px;
    font-family: 'Bacasime Antique', sans-serif;
    margin: 0;
    height: 85px;    
    }
  
  a {
    color:#555;
  }

#gamePlayScreen {
  position: relative;
  padding-top: 0;
}

.gameImageContainer {
  position: relative;
  width: 500px;
  height: 600px;
  background-image: url('https://github.com/lerodriguezreyes/m1p-echoes/blob/main/Images/vault.jpg?raw=true');
  background-size: cover;
  background-position: center;
}

#playerLifeBar {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px;
  height: 5px;
  background-color: red;
  z-index: 2;
}

#timeRemaining {
  position: absolute;
  top: 15px;
  right: 10px;
  color: white;
  z-index: 3;
}

#narrative {
  position: absolute;
  top: 35px;
  left: 10px;
  right: 10px;
  background-color: #55555585;
  color: white;
  padding: 10px;
  z-index: 2;
}

#choices {
  position: absolute;
  text-align: center;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background-color:  #55555585;
  color: white;
  padding: 10px;
  z-index: 2;
}

button {
  padding: 10px 20px;
  color:rgb(56,113,13);
  font-family: 'Bacasime Antique', sans-serif;
  font-size:150%;
  background-color: rgba(240, 255, 255, 0);
  border: none;
  cursor: pointer;
  margin: 0 5px;
}

  .view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-width: 100px;  
  height: 685px;
  max-width: 990px;
  margin: auto;
  border: 0px;
  padding: 25px;
  
  }
 .died{
    position: absolute;
    bottom: 6%;
  }
  
  .end{
    position: absolute;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.534);
    bottom: 0%;
  }
  
  .won{
    position: absolute;
    top: 1%;
    left: 10%
  }
  
  .container {
    position: relative;
    text-align: right;
    color: white;}

  
  footer {
    color: #555;
    font-family: helvetica, arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 10pt;
  }
  
  .love {
    text-align: center;
  }
  
  .credits {
    text-align: right;
  
  }
  